body {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #1e1e1e;
    font-family: 'Heebo', sans-serif;
}

.left {
    background-color: #a94d4d;
    width: 345px;
    height: 100vh;
}

.sidebar-logo {
    display: flex;
}

.sidebar-logo-img {
    margin-top: 15px;
    margin-left: 32px;
}