/* Base */
:root {
    --grey-color: #d9d9d9;
    --logobg-color: #d0d0d0;
    --grey-bgcolor: #9d9d9d;
    --white-color: #fff;
    --black-color: #000;
    --text-color-grey: #666;
    --red-color: #FF0004;
    --blue-color: #3a2ee7;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Heebo', sans-serif;
}

/* common */
a {
    text-decoration: none;
}

/*avatar*/
.avatar {
    aspect-ratio: 1 / 1;
    height: 47px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    background-color: #3e3e3e;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/*btn-icon*/
.bin-button
{
    color: var(--white-color);
}

.btn-icon {     
    aspect-ratio: 1 / 1;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 3px;
    background-color: #3e3e3e;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60%;
    cursor: pointer;
    color: var(--white-color);

}

.report-button
{
    display: flex;
    align-items: center; 
    justify-content: center; 
    font-size: 2rem; 
    font-weight: 900; 
    background-color: red; 
    position: relative;
}

.report-button:hover .report-list{
    display: block;
}

.report-list
{
    position: absolute;
    top: 50px;
    right: -14px;
    min-width: 400px;
    background-color: red;
    border-radius: 2px;
    z-index: 1;
    display: none;
    height: 200px;
}

.report-list::after
{
    content: "";
    border-width: 11px 15px;
    border-style: solid;
    border-color: transparent transparent red transparent;
    position: absolute;
    right: 18px;
    top: -21px;
}

.report__list--roll{
    overflow-y: auto;
    max-height: 200px;
}

.report-list-item{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 50px;
    border-bottom: 1px solid var(--white-color) ;
}

.report-list-item:last-child{
    border: none;
}

.usrp{
    font-size: 1.4rem;
    margin: 0 12px 0 6px ;
    width: 30%;
    text-align: center;
}

.rp-content{
    font-size: 1.2rem;
    margin: 6px 0;
    width: 70%;
}

/* ========= Aside ========= */
.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.container .aside {
    width: 23%;
    background: #282727;
}

/* ==== logo ==== */
.container .aside .logo {
    display: flex;
    align-items: flex-end;
    margin: 17px 0 0 32px;
}

.container .aside .logo-desc {
    position: relative;
    top: -7px;
    left: 4px;
    display: flex;
    flex-direction: column;
}

/* ==== manage ==== */
.container .aside .title {
    font-size: 2.4rem;
    color: #A6A6A6;
    font-weight: 400;
    margin: 18px 0 16px 38px;
}

/* ==== nav ==== */
.container .aside .nav {
    /* margin: 22px 0 0 40px; */
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0 34px;
}

.aside .nav .nav-item {
    display: flex;
    align-items: center;
    padding: 8px 4px;
    /* margin-bottom: 35px; */
}

.aside .nav .nav-item:hover {
    background: rgba(213, 200, 200, 0.3);
    border-radius: 7px;
}

.aside .nav-item .icon {
    margin-right: 16px;
}

.aside .nav-item .task {
    font-size: 3.2rem;
    font-weight: 700;
    color: #9C9C9C;
}

/* ========= Content ========= */
.container .wrap {
    width: 77%;
    background: #000;
    display: flex;
    flex-direction: column;
    width: 77%;
    background: #000;
    flex: 1;
}

/* ==== Title-introduce ==== */
.container .wrap .header {
    display: flex;
}

.wrap .title-intro {
    margin: 44px 0 0 31px;
}

.wrap .title-intro .title {
    font-size: 4rem;
    color: #fff;
    font-weight: 700;
}

.wrap .title-intro .desc {
    margin-top: 21px;
    font-size: 2.4rem;
    font-weight: 700;
    color: #666
}

.wrap .header .bar-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 535px;
    min-width: 533px;
    height: 71px;
    text-align: center;
    border-radius: 28px;
    margin: 38px 41px 0 auto;
    background: #666;
}

.header .bar-search .looking {
    margin-left: 20px;
    font-size: 2.4rem;
    font-weight: 400;
    background: #666;
    border: 0 solid #666;
    color: #B1B1B1;
    height: 40px;
}

.header .bar-search button {
    cursor: pointer;
    background: transparent;
    border: 0;
}

.header .bar-search .icon-search {
    margin-right: 22px;
}


.wrap-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 15px;
    padding: 0 15px;
}

.bin__content-head{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.bin__firstcontent,
.bin__secondcontent,
.bin__thirdcontent,
.bin__fourthcontent{
    color: var(--white-color);
    line-height: 2rem;
    font-size: 2rem;
    font-weight: bold;
}

.bin__content-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.bin__content-body{
    color: var(--white-color);
    border-bottom: 1px solid var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 53px;
    padding-bottom: 5px;
}   

.bin__firstcontent,
.content-body__user{
    width: 20%;
}

.bin__secondcontent,
.content-body__followers {
  width: 11%;
}

.bin__thirdcontent,
.content-body__user-report {
    width: 15%;
}

.bin__fourthcontent,
.content-body__status {
    width: 16%;
    display: flex;
    justify-content: center;
    gap:4%;
}



.content-body__user{
    display: flex;
    align-items: center;
}

.content-body__user-N-BD{
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.content-body__user-Name
{
    line-height: 1.8rem;
    font-size: 2rem;
    font-weight: bold;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.content-body__user-report{
    line-height: 1.8rem;
    font-size: 1.8rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.content-body__followers
{
    display: flex;
    gap: 3px;
}

